{% extends 'customer/customerbase.html' %}


{% block content %}
<div class="span9">
<div class="row-fluid">
    <div class="span12 box">
        <div class="box-header"><h3><i class="icon-play"></i> Lista de Vencedores</h3></div>
        <div class="box-content">
            <div class="content-inner">
                <div class="marg20-btm">
                
                    <form class="form-inline pull-right">
                        <input type="text" placeholder="Pesquisar vencedor">
                        <input class="btn" type="submit" value="Search">
                    </form>
                </div>
                <h2>{{codigo_externo}}</h2>
                
                {% comment %} Resultado Final {% endcomment %}
                

                <br/>
                
               
                

        
        
            </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}