{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    
    <!-- Le styles -->
    <link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'blog/css/mbooh.css' %}" rel="stylesheet" />
    <link href="{% static 'blog/css/icon-style.css ' %}" rel="stylesheet" />
    <link href="{% static 'blog/css/bootstrap-responsive.css ' %}" rel="stylesheet" />
    <link href="{% static 'blog/css/apostas.css' %}" rel="stylesheet" />

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Apuestas</a>
          <div class="nav-collapse">
            <ul class="nav">
                <li><a data-toggle="modal" href="#notif"><i class="icon-white icon-inbox"></i> Crédito <span class="badge badge-info">R$ {{user.credito.valor}}</span></a></li>
            </ul>
            <ul class="nav pull-right">

            <li class="dropdown">
              <a href="" class="dropdown-toggle" style='font-size:14px;' data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-user"></i> Perfil</a></li>
                <li class="divider"></li>
                <li><a href=""><i class="icon-off"></i> Sair</a></li>
              </ul>
            </li>

          </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-head">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="active"><a href="partidas.html">Menu</a></li>
            </ul>
        </div>
    </div>
    
    {% comment %} Imprimir mensajes si se envía un mensaje {% endcomment %}
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
    {% endif %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="">Partidas</a></li>
                    <li><a href="">Apostas</a></li>
                    <li><a href=""> Jogadores</a></li>

                    {% comment %} Verificar si el usuario es parte del equipo de administración del sitio {% endcomment %}
                     {% if user.is_staff %}
                        <li><a href="/admin">Admin</a></li>
                     {% endif %}

                </ul>
            </div>
            
      
      {% block content %}
      {% endblock content %}


        </div> 
    </div> 
    
    <script src="{% static 'blog/js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>
    <script src="{% static 'blog/js/mbooh.js' %}"></script>
  </body>
</html>
