{"Cantidad":1,
"FechaCreacion":"2022-06-09T18:40:17.733",
"Version":"v1",

"Listado":[{"CodigoExterno":"2423-38-LR22",
"Nombre":"INSTALACIÓN DE MÓDULOS DE SEGURIDAD BARRIAL",
"CodigoEstado":5,
"Descripcion":"INSTALACIÓN DE MÓDULOS DE SEGURIDAD BARRIAL",
"FechaCierre":null,"Estado":"Publicada",

"Comprador":{"CodigoOrganismo":"87388",
"NombreOrganismo":"I MUNICIPALIDAD DE PUENTE ALTO",
"RutUnidad":"69.072.100-7",
"CodigoUnidad":"3415",
"NombreUnidad":"SECPLAC",
"DireccionUnidad":"CONCHA Y TORO 1820",
"ComunaUnidad":"Puente Alto",
"RegionUnidad":"Región Metropolitana de Santiago",
"RutUsuario":"12.504.241-4",
"CodigoUsuario":"166665",
"NombreUsuario":"CAROLA DEL CARMEN SILVA RIVAS",
"CargoUsuario":"cotizador"},
"DiasCierreLicitacion":"22",
"Informada":0,
"CodigoTipo":1,
"Tipo":"LR",
"TipoConvocatoria":"1",
"Moneda":"CLP",
"Etapas":1,
"EstadoEtapas":"0",
"TomaRazon":"0",
"EstadoPublicidadOfertas":1,
"JustificacionPublicidad":"",
"Contrato":"0",
"Obras":"2",
"CantidadReclamos":119,
"Fechas":{"FechaCreacion":"2022-05-18T00:00:00",
"FechaCierre":"2022-07-01T15:30:00",
"FechaInicio":"2022-05-31T08:00:00",
"FechaFinal":"2022-06-13T12:00:00",
"FechaPubRespuestas":"2022-06-17T18:00:00",
"FechaActoAperturaTecnica":"2022-07-01T15:30:00",
"FechaActoAperturaEconomica":"2022-07-01T15:30:00",
"FechaPublicacion":"2022-05-30T16:14:57.41",
"FechaAdjudicacion":"2022-09-01T19:54:00",
"FechaEstimadaAdjudicacion":"2022-09-01T19:54:00",
"FechaSoporteFisico":null,
"FechaTiempoEvaluacion":null,
"FechaEstimadaFirma":null,
"FechasUsuario":null,
"FechaVisitaTerreno":null,
"FechaEntregaAntecedentes":null},"UnidadTiempoEvaluacion":1,
"DireccionVisita":"",
"DireccionEntrega":"",
"Estimacion":2,
"FuenteFinanciamiento":"PRESUPUESTO MUNICIPAL",
"VisibilidadMonto":1,
"MontoEstimado":409665653.0,
"Tiempo":"1",
"UnidadTiempo":"1",
"Modalidad":1,
"TipoPago":"2",
"NombreResponsablePago":"DIRECCION DE ADMINISTRACIÓN Y FINANZAS",
"EmailResponsablePago":"LICITACIONES@MPUENTEALTO.CL",
"NombreResponsableContrato":"DIRECCION DE ASESORÍA JURIDICA",
"EmailResponsableContrato":"LICITACIONES@MPUENTEALTO.CL",
"FonoResponsableContrato":"56-02-28101723-723",
"ProhibicionContratacion":"",
"SubContratacion":"1",
"UnidadTiempoDuracionContrato":1,
"TiempoDuracionContrato":"1",
"TipoDuracionContrato":"RFB_CONTRACT_TIME_PERIOD_INMEDIATE_EXECUTION",
"JustificacionMontoEstimado":"","ObservacionContract":null,
"ExtensionPlazo":0,"EsBaseTipo":0,
"UnidadTiempoContratoLicitacion":"2",
"ValorTiempoRenovacion":"0",
"PeriodoTiempoRenovacion":" ",
"EsRenovable":0,
"Adjudicacion":null,
"Items":{"Cantidad":1,"Listado":[{"Correlativo":1,"CodigoProducto":72131702,"CodigoCategoria":"72131700","Categoria":"Servicios de construcción y mantenimiento / Construcción de edificios en general / Construcción de obras civiles y infraestructuras","NombreProducto":"Construcción de obras civiles","Descripcion":"INSTALACIÓN DE MÓDULOS DE SEGURIDAD BARRIAL","UnidadMedida":"Global","Cantidad":1.0,"Adjudicacion":null}]}}]}