<html>

<head>
  {% load static %}

     <!-- Bootstrap navbar -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,300,400,700' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <style media="screen">
      a:link {
        text-decoration: none;
      }
  
      h6 {
        text-align: center;
      }
  
      .row {
        margin: 100px;
      }
      label #sidebar_btn {
        z-index: 1;
        color: #fff;
        position: fixed;
        cursor: pointer;
        left: 300px;
        padding-left: 60px;
        margin-top:15px;
        font-size: 20px;
        
        transition: 0.5s;
        transition-property: color;
      }
    </style>
    

  </head>

<body>
 
{% include "insurance/navbar.html" %}  

<br><br><br><br>
<div class="container text-center">

       <h1 style="font-size: xx-large;">
 Gestión Licitaciones Online 
      </h1>
    </div> 
<!-- Styles-->

<section style="margin-top: -120px;">
  <div class="row">
    <div class="col-md-7">
      <div class="w3-responsive">  

        <div class="container" style= "float: left;">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h6 class="panel-title">Licitaciones del dia</h6>
            </div>
            <div class="w3-responsive">  
              <table class="table table-hover" id="dev-table">
                <thead> 
                  <tr>
                    <th>Licitación</th>
                    <th>Nombre</th>
                    <th>Cod/Estado</th>
                    <th>Fec/Cierre</th>
                  </tr>
                </thead>
                <tbody>
                {% for droplet in droplets %}
                  <tr>
                    <td style="font-size: small;">{{ droplet.CodigoExterno }}</td>
                    <td style="font-size: small;">{{ droplet.Nombre }}</td>
                    <td style="font-size: small;">{{ droplet.CodigoEstado }}</td>
                    <td style="font-size: small;">{{ droplet.FechaCierre }}</td>
                    <td><a class="btn btn-danger btn-xs" href="http://api.mercadopublico.cl/modules/ejemplo_08.aspx"><span class="glyphicon glyphicon-eye-open"></span></a></td> 
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div> 
          </div>  
        </div>
      </div>
    </div>

      <div class="col-md-4" style="float: right; font-size: medium;">
        
        <article  class="cuaros">
          <div  id="imagen3" class="images">
            <img src="{% static "image/licita.png" %}" class="w3-circle" style="width: 50%">
          </div>
          <h3 style="color: red;">Licitaciones y Adjudicaciones</h3><hr>
          Solutorres se encarga de apoyarte en la búsqueda de 
          licitaciones públicas en plazo. Aquí puedes encontrar las contrataciones
          públicas para Chile. Si tu empresa está interesada en ser informada sobre 
          las notificaciones de contrataciones públicas no solo de Chile, sino del 
          resto de Latinoamérica nuestro servicio te resultará muy útil.

          Nuestro servicio se basa en alertar a tu empresa cada vez que tengamos una 
          nueva oportunidad de negocio en tu sector. En Latamcompra.com puedes encontrar 
          los concursos y contrataciones públicas en plazo para Chile, así como la oferta 
          informativa sobre contrataciones públicas que rastreamos en otros 17 países de 
          Latinoamérica.
          
          Nota: Las licitaciones publicadas se encuentran fuera de plazo, para ver las 
          oportunidades de negocio con plazo de presentación de ofertas regístrate a 
          nuestra prueba gratuita.
          Prueba aquí nuestro servicio gratis por 7 días y participa en todas las convocatorias de tu interés.
        </article>
      </div>

    
  </div>
</section>  

 
{% include "insurance/footer.html" %}

  <!-- Bootstrap -->
  <link href="{% static 'css/gestion.css' %}" rel="stylesheet" type="text/css">

  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</body>

</html>
