{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/main.css'%}" rel="stylesheet" type="text/css">


	{% if title %}
		<title>SoluTorresSeguros - {{ title }}</title>
	{% else %}
		<title>SoluTorresSeguros</title>
	{% endif %}

</head>
<body >
	<nav class="navbar-inverse">
	  <div class="container-fluid">
	   
	    <ul class="nav navbar-nav">
	      <li ><a href="/">Inicio</a></li>
	      <li ><a href="/contactus">Contacto</a></li>
	      <li><a href="/aboutus">Nosotros</a></li>
		  <li><a href="/licitaciones">Licitaciones</a></li>
		</ul>

	    <ul class="nav navbar-nav navbar-right">
	      
		  		<li><a href="/customer/customerclick"><span class="glyphicon glyphicon-log-in"></span>Clientes</a></li>
		  		<li><a href="/adminlogin"><span class="glyphicon glyphicon-log-in"></span>Administrador</a></li>
		 
	    </ul>
	  </div>
	</nav>
	<div class="container" style="min-height: 100%">
		<br>
		{% if messages%}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div> 
		{% endfor%}
		{% endif %}
		{% block content %}{% endblock%}
	</div>
	<br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmnAF87Yc4RIMYhvAkRvD14yRycaDNmP8&callback=myMap"></script>
</body>
</html>